<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Garbage Collection</h1>
    <p>
      This is the about page for the Garbage Collection Service at Stetson University
    </p>
  </body>
</html>