<div class="center jumbotron">
<% if logged_in? %>
  <h1>Welcome to Garbage Collection Services <%= User.find_by(id: session[:user_id]).name %> </h1>
<% else %>
  <h1>Welcome to Garbage Collection Services</h1>
<% end %>
  <h2>
      This is the home page for the Garbage Collection Service at Stetson University
  </h2>
  <% if not logged_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>