<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $2.50</span>
    </label>
  </article>
  <%= hidden_field_tag :subscription, value: params[:subscription] %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A week's subscription"
          data-amount="250"
          data-locale="auto"></script>
<% end %>